*{
    box-sizing: border-box;
}

body {
    background-color: thistle;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 0;
}

.question-container{
    background-color: white;
    border-radius: 5px;
    width: 450px;
    height: 200px;
}

.question-header{
    padding: 10px;
}

h1{
    text-align: center;
}

ul{
    list-style: none;
    padding: 0;
    text-align: center;
}
/* Start Button */
.btn {
    background-color: turquoise;
    border: 1px solid;
}

.start-button {
    background-color: teal;
}